spring:
  jpa:
    legacy-ad:
      hikari:
        jdbc-url: jdbc:mysql://localhost:3309/legacy-ad
        username: root
        password: localpw
      properties:
        hibernate:
          hbm2ddl.auto: validate
          show_sql: false
          physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    recent-ad:
      hikari:
        jdbc-url: jdbc:postgresql://localhost:5434/postgres
        username: postgres
        password: localpw
      properties:
        hibernate:
          hbm2ddl.auto: update
          show_sql: false
          physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
          jdbc.batch_size: 300
          order_inserts: true
          order_updates: true